In [1]:
import re 
# Analysis
import pandas as pd
import numpy as np
from deep_translator import GoogleTranslator
import numpy as np

def transtale_ar_en(text):
    try:
        x = GoogleTranslator(source='ar',target='en').translate(text)
    except:
        x=np.nan
    return x

In [2]:
fake_df1=pd.read_csv('twitter_fake.csv')
fake_df1.drop(columns=["Unnamed: 0"],inplace=True)
fake_df2=pd.read_csv('twitter_fake2.csv')
fake_df2.drop(columns=["Unnamed: 0"],inplace=True)
#fake_df=pd.concat([fake_df1,fake_df2],ignore_index=True)
#fake_df=fake_df.sample(frac=1).reset_index(drop=True)
#fake_df["label"]=0
#fake_df.sample(10)

In [4]:
fake_df2.shape

(10000, 1)

In [21]:
fake_df1["tweet"]=fake_df1["tweet"].apply(transtale_ar_en)

In [22]:
fake_df1

                                                  tweet
0     I'm glad that the referee didn't count my ball üò≠üòÇ
1     When you come across any talk or something els...
2                          Bobo at Al Ahly Club..... üòâüòâ
3     Why are they so burnt on Clattenburg and Egypt...
4     I swear to God, it is a farce to postpone the ...
...                                                 ...
9995  Well, leave them alone\n\nDespite my love for ...
9996  Wear blue, wear white\nShe even wears a check ...
9997  Engineer Khaled Abdel Aziz, I wonder if Egypt ...
9998  Imagine every week that your kids come to the ...
9999  The stadium is full of right and left, and the...

[10000 rows x 1 columns]

In [23]:
fake_df1.to_csv("fake1.csv",index=False)

In [24]:
fake_df2["tweet"]=fake_df2["tweet"].apply(transtale_ar_en)

In [25]:
fake_df2

                                                  tweet
0     The Al-Hilal and Sun match reminded me of the ...
1                         Good morning, but sweet. Haha
2     By God, I don't have a problem with Barcelona ...
3     Long live justice, long live justice\nObvious ...
4     Cristiano Abdel Fattah Adam Al-Nasrawi's missi...
...                                                 ...
9995  He tells you that the coach asked for this pla...
9996  Al-Hilal will trample on the entire sports bod...
9997  About the girl who prays ‚ù§\nAnd you encourage ...
9998  The mixed team, after defeating Al-Ahly, is no...
9999  His name is Rabbi Haha #ManchesterCity #CityTw...

[10000 rows x 1 columns]

In [26]:
fake_df2.to_csv("fake2.csv",index=False)

In [11]:
fake_df.shape

(20000, 2)

In [5]:
true_df1=pd.read_csv('twitter_true.csv')
true_df1.drop(columns=["Unnamed: 0"],inplace=True)
true_df2=pd.read_csv('true2.csv')
true_df3=pd.read_csv('true2_test.csv')

#true_df=pd.concat([true_df1,true_df2,true_df3],ignore_index=True)
#true_df=true_df.sample(frac=1).reset_index(drop=True)
#true_df["label"]=1
#true_df.sample(10)

In [9]:
true_df1.shape

(9949, 1)

In [10]:
true_df2.shape

(4960, 1)

In [15]:
true_df1["tweet"]=true_df1["tweet"].apply(transtale_ar_en)

In [16]:
true_df1

                                                  tweet
0     A wonderful shot from the stars .. Mohamed Sal...
1     The first half between Al-Ahly and Al-Dakhiliy...
2     Mohamed El-Garhi: Since I was young, I have be...
3     Tonight.. Pharaohs of the Hand on the mission ...
4        Finally and officially, Abu Jabal left Zamalek
...                                                 ...
9944  The Football Association spends 136,000 pounds...
9945       Mohamed Sobhi is a goalkeeper with potential
9946  Ashraf Khader, former general coach of Ismaili...
9947       Good morning.. Today is the summit match. ‚öΩüî•
9948  Al-Ahly beat Al-Masry Al-Port Said 2/0, scored...

[9949 rows x 1 columns]

In [17]:
true_df1.to_csv("real1.csv",index=False)

In [11]:
true_df2["tweet"]=true_df2["tweet"].apply(transtale_ar_en)

In [13]:
true_df2

                                                  tweet
0     The Egyptian Squash Federation, headed by Asse...
1     The football team of Zamalek relies on a numbe...
2     Khaled Eid, the technical director of the Arse...
3     Mohamed Farouk, a player for Future Club, is u...
4     The Professional Squash Players Association (P...
...                                                 ...
4955  Zamalek officials are seeking to transfer the ...
4956  The results of the second division matches in ...
4957  The football team of Al-Ahly Club resumed its ...
4958  Al-Mathlouthi, the Zamalek player, underwent a...
4959  The first football team of Al-Ahly Club resume...

[4960 rows x 1 columns]

In [14]:
true_df2.to_csv("real2.csv",index=False)

In [18]:
true_df3["tweet"]=true_df3["tweet"].apply(transtale_ar_en)

In [19]:
true_df3

                                                  tweet
0     At three in the afternoon, Thursday, 5 heated ...
1     Al-Ahly team defeated its New Zealand counterp...
2     Tunisian Elias Al-Jelassi obtained the approva...
3     The Dervishes defeated the Sudanese champions ...
4     The journalist, Ahmed Schubert, revealed the p...
...                                                 ...
6955  Bridge is a card game, and it dates back to th...
6956  Greek Takis Junias, coach of the first footbal...
6957  The training of the first football team at Zam...
6958  Beninese Samson Akinola, striker of the first ...
6959  Portuguese Josevaldo Ferreira, coach of the fi...

[6960 rows x 1 columns]

In [20]:
true_df3.to_csv("real3.csv",index=False)

In [2]:
real1=pd.read_csv("real1.csv")
real2=pd.read_csv("real2.csv")
real3=pd.read_csv("real3.csv")

In [3]:
real=pd.concat([real1,real2,real3],ignore_index=True)
real

                                                   tweet
0      A wonderful shot from the stars .. Mohamed Sal...
1      The first half between Al-Ahly and Al-Dakhiliy...
2      Mohamed El-Garhi: Since I was young, I have be...
3      Tonight.. Pharaohs of the Hand on the mission ...
4         Finally and officially, Abu Jabal left Zamalek
...                                                  ...
21864  Bridge is a card game, and it dates back to th...
21865  Greek Takis Junias, coach of the first footbal...
21866  The training of the first football team at Zam...
21867  Beninese Samson Akinola, striker of the first ...
21868  Portuguese Josevaldo Ferreira, coach of the fi...

[21869 rows x 1 columns]

In [13]:
real=real.sample(frac=1).reset_index(drop=True)

In [6]:
#pip install clean-text

Collecting clean-text
  Downloading clean_text-0.6.0-py3-none-any.whl (11 kB)
Collecting ftfy<7.0,>=6.0
  Downloading ftfy-6.1.1-py3-none-any.whl (53 kB)
Collecting emoji<2.0.0,>=1.0.0
  Downloading emoji-1.7.0.tar.gz (175 kB)
Requirement already satisfied: wcwidth>=0.2.5 in c:\users\hp\anaconda3\lib\site-packages (from ftfy<7.0,>=6.0->clean-text) (0.2.5)
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py): started
  Building wheel for emoji (setup.py): finished with status 'done'
  Created wheel for emoji: filename=emoji-1.7.0-py3-none-any.whl size=171047 sha256=409e35870d27c2a9a153ef02d85cf56cd9230f61c280680764d8124deed620b0
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\fa\7a\e9\22dd0515e1bad255e51663ee513a2fa839c95934c5fc301090
Successfully built emoji
Installing collected packages: ftfy, emoji, clean-text
  Attempting uninstall: emoji
    Found existing installation: emoji 2.2.0
    Uninstalling emoji-2.2.0:
      Successfully uninstalled emoji-2.2.0
Successfully installed clean-text-0.6.0 emoji-1.7.0 ftfy-6.1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
from cleantext import clean
def remove_emoji(i):
    return clean(i, no_emoji=True)

In [14]:
remove_emoji(real.iloc[0]['tweet'])

'sun downs technical director: al-ahly respected us and played to win'

In [15]:
real['tweet']=real['tweet'].apply(remove_emoji)

In [16]:
real.to_csv("real.csv",index=False)

In [3]:
fake1=pd.read_csv("fake1.csv")
fake2=pd.read_csv("fake2.csv")
fake=pd.concat([fake1,fake2],ignore_index=True)
fake=fake.sample(frac=1).reset_index(drop=True)
fake

                                                   tweet
0      The tongue of his condition, now I saw things ...
1      By God the Great, after I saw the derby of Wyd...
2      Believe in God, this Zamalek fans are as good ...
3      The coach appeared in the media and told the t...
4      Asno Smito\nWhoever knows her tells me a massa...
...                                                  ...
19995                      By hitting the referee üòÇüòÇüòÇüòÇüòÇüòÇ
19996  And instead of assassinating him.. they assass...
19997  Honestly, the goalkeeper deal is not the best ...
19998                        Haha goal and no bangura (:
19999  I swear by God Almighty\n\nMessi will not come...

[20000 rows x 1 columns]

In [4]:
fake['tweet']=fake['tweet'].apply(remove_emoji)

In [5]:
fake.iloc[:50]

                                                tweet
0   the tongue of his condition, now i saw things ...
1   by god the great, after i saw the derby of wyd...
2   believe in god, this zamalek fans are as good ...
3   the coach appeared in the media and told the t...
4   asno smito\nwhoever knows her tells me a massa...
5   #crescent_flamingo\nthe dirty referee is a sie...
6   #morocco _ portugal argentine referee and unde...
7   honestly, when al-ahly and al-hilal match tick...
8   ashraf sobhi, minister of kindness:\nwe follow...
9   i am of the opinion to stop the league and pla...
10                 #al-hilal _ zamalek, i am al-hilal
11  #development\n113.6 dangerous, remove 114\n116...
12  #union _ league _ unit\na nasrawi entered a re...
13  had al-kawari, think of me other than football...
14  harran kalyan in the french league, we are dep...
15  someone kills these ahlawyah, always forgettin...
16  gross is back, renewing the pains, haha. incre...
17  #al-ahly _ al-fayhaa\nhaha the second faihaa h...
18  #from _ cutting _ the _ mouse _ at _ al-fayha ...
19  i feel sorry for you, which is in my mind. i d...
20  a player provokes the audience, and then the c...
21  watch ronaldo's reaction after salah salah's goal
22  haha, it appears from the beginning that the t...
23  congratulations, al-douri to al-ahly. nawaf bi...
24  #turkish _ outside _ al-ahly\nsearch on google...
25                    he said, what did he say, asia?
26  congratulations to zamalek for 2.5 million dol...
27                                             hijazi
28  al-ahly wins zamalek, where was the color of t...
29  the biggest wrong decision made by qatar is to...
30  may god protect them, they do not say that the...
31     help me with men, haha # al-ahly_daldool_fathi
32                    haha, god damn you from defence
33  whenever #al-ittihad scores a goal, it must be...
34  it is possible that the al-ahly administration...
35                                       zamalek lost
36  the tone of the ignorant is evidence that they...
37  abdel monsef says shadi is talking to the refe...
38  i wrote my goals for the year, and the last go...
39  the referee haha, al-ahly's mercy from goal no...
40  mourinho was too frank... but if we come to be...
41  unfortunately, what is happening in marsool pa...
42  #save _ al-ahly _ like _ al-ittihad\n:\nas lon...
43  #al-hilal _ al-shabab, we play the symphony of...
44         al-ahly fans are cheering with their backs
45  al-ahly today is different the neighbor is bac...
46  sayed came back and returned with the bombing,...
47  get up and feed him, where is the pre-match hy...
48  in some al-ahly, the teachers of al-ahly are i...
49  i suggest merging the youth with the riyadh cl...

In [6]:
import re

In [23]:
def clean_line(line):
    line =re.sub(r'hhh','',line)
    line =re.sub(r'hhhh','',line)
    line =re.sub(r'HHH','',line)
    line =re.sub(r'HHHH','',line)
    line =re.sub(r'@\w+','',line)
    line =re.sub(r'#\w+','',line)
    return line

In [24]:
i="i love elahly hhh flsjk "
print(clean_line(i))

i love elahly  flsjk

In [25]:
fake['tweet']=fake['tweet'].apply(clean_line)

In [26]:
fake.to_csv("fake.csv",index=False)