In [14]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
from deep_translator import GoogleTranslator
import numpy as np

def transtale_ar_en(text):
    try:
        x = GoogleTranslator(source='ar',target='en').translate(text)
    except:
        x=np.nan
    return x

In [2]:
query='"๐" (ุงูููุฑุฉ OR ุงูุฏูุฑู OR ุงูุงููู OR ุงูุฒูุงูู OR ุงูุญุงุฑุณ OR ุงููุงุนุจ OR ุงููุฏุฑุจ OR ุฌูู OR ุงูุญูู) lang:ar -filter:links -filter:replies'
limit=5000
tweets=[]

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.content])
    
df_EgyptionLeague=pd.DataFrame(tweets,columns=['tweet'])
df_EgyptionLeague

C:\Users\hp\AppData\Local\Temp/ipykernel_1740/174029641.py:11: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.content])

                                                  tweet
0     ูููุชู ุณูุฑุงู ุจุงูููุฑุจ ุทุงุญ ูู ุงูุฏุฑุฌ ุบุงูู ุงูุญุงุฑุณ ุจ...
1     ุดูู ุงูุงููู ุจููุฒู ุฏุฑุฌู ุซุงููู \nุงูุดุบูู ูููุง ุฎุตู ...
2     ูุนูู ูุชุฑุฉ ุชููู ููุงูุณุงุช ุงูููุฑู ุงููุงุญุฏ ูุฑูู ุดูู ...
3     ุงูููุงู ุงุฏู ุงูุงูู ููุฃููู ูู ุงูุฑูููุง ุูุฎูุงูู ููุด...
4     ุฏุนูุฉ ููู ูุชููุช ุจูุดุฌุน ุนุดุฉ ุงููุฑุงุฎ ูููู ูุฑุฎุฉ ูุฏูู...
...                                                 ...
4995  ุงูุงููู  ุจูู ุงูู ูุฑูู ูุชุนุดุฑ ูู ุงูุฑูููุง ๐๐๐๐๐\n#...
4996  ูุงุฑูุช ูุนูุจุฉ ุงูุฏูุฑู ุชููู ูููุช ูุนุฑูุช ุฅู ุงูุดุฎูุงูู...
4997  ูุง ููุณุฏู ุงูุงููู ุชูุณุฏู ุจุฑุดูููู ูุชููู ุนูููุง..ุทุจ ...
4998  ููุงุฑุง ูุงุจููู ุฌุงุจู ุจุจูุงุด ูุญุฑููุง ุจูุนูู ูู ุญุงุฌู ู...
4999  ุงูุฒูุงูู ุจุนุฏ ูุง ุงุชูุชุญุช ูู ุดูุงุฑุนูุง ุญุงุณุณ ุงูู ุฑุฌุนุช...

[5000 rows x 1 columns]

In [6]:
query='"๐" (ุงูููุฑุฉ OR ุงูุฏูุฑู OR ุงูุงููู OR ุงูุฒูุงูู OR ุงูุญุงุฑุณ OR ุงููุงุนุจ OR ุงููุฏุฑุจ OR ุฌูู OR ุงูุญูู) lang:ar -filter:links -filter:replies'
limit=5000
tweets=[]

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.content])
    
df_EgyptionLeague_fake2=pd.DataFrame(tweets,columns=['tweet'])
df_EgyptionLeague_fake2

C:\Users\hp\AppData\Local\Temp/ipykernel_1740/1517505185.py:11: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.content])
Tweet 1627684507276165121 contains an app icon medium key '4_1637565530335858691' on app 'android_app'/'com.bluapp.customer', but the corresponding medium is missing; dropping
Tweet 1623705783333539841 contains an app icon medium key '4_1637511406852472834' on app 'iphone_app'/'1271754138', but the corresponding medium is missing; dropping
Tweet 1623705783333539841 contains an app icon medium key '4_1637511406852472834' on app 'ipad_app'/'1271754138', but the corresponding medium is missing; dropping

                                                  tweet
0     "ุงููุถุญู": \nุฅุณุชุจุนุฏูุง ูู ุงูููุชุฎุจ ุฃูุซุฑ ูุนูุจู ูุดุง...
1                       ุฌูู ูุงุชูุฒู ุดููู ููู ุฃุตุญู ุงูููุ๐
2     ุฑุงุญ ูููููู ุงูุฏูุฑู ุงุณุจูุนูู ุนุดุงู ููุชุฎุจ ุงูููุงู......
3     ูุจุฏุฆูุข ุงูุฏูุฑู ุดุจู ุงุชุญุณู ู ุงููุงุณ ููุฌูุฏูู ููู + ...
4     #ุงูุงููู_ุงูุณุนูุฏููุนูู ุงุฏุงุฑุฉ ูููุฏ ูุนุงุฐ ุนูุฏูุง ุฎุจุฑ ...
...                                                 ...
4995  ุณุคุงู ููุนููุงุก ๐\nููุงุฐุง ุงููุตุฑ ุทุฑู ุซุงุจุช ูู ุงููุถุงู...
4996  #ุงูุฒูุงูู #ุฑูุงุถุฉ #ุงูููุงู_ุงูููุฑูุง #ูุจูุฑ_ุงุณูุง #ุงุฎ...
4997  ููุนุช ุจูู ุงุจู ุฌุจู ูุงููุตุฑ ูู ุนุงูุฒ ูููู ุนูุฏู ูุงูู...
4998  ููุถูุน ุงุจู ุฌุจู ุฃุซุจุช ูู ูุถุบูุทูู ุฌุฏุงู\nูุง ุชููุนุช ู...
4999  ุงูุงููู ูุง ุจุฐููุก ููุง ุณููุท ุงููุณุงู ๐\n\n#ุงูุฎุทูุจ_ุง...

[5000 rows x 1 columns]

In [7]:
fake_df=pd.concat([df_EgyptionLeague,df_EgyptionLeague_fake2],ignore_index=True)

In [8]:
fake_df=fake_df.sample(frac=1).reset_index(drop=True)
fake_df.head()

                                               tweet
0                      ูุจุณูุท ุงู ุงูุญูู ูุงุญุณุจ ุจููุชู ๐ญ๐
1  ุนูุฏูุง ุชุตุงุฏู ุงู ููุงู ุงู ุบูุฑู ุนู ุงูุงููู โฆ ุชุฐูุฑ ุง...
2                     ุจูุจู ูู ุงููุงุฏู ุงูุงููู ..... ๐๐
3  ููุง ูุญุฑูููู ูุฏู ููู ุงูู ุนูู ููุงุชููุจุฑุฌ ู ุณูุนุฉ ู...
4  ูุงููู ููุฒูู ุนูู ุชุฃุฌูู ุงูุฏูุฑู ๐๐\n\nูู ูุฐุง ุนุดุงู...

In [9]:
fake_df.to_csv("twitter_fake.csv",index=True)

In [18]:
query='"ูููู" (ุงูููุฑุฉ OR ุงูุฏูุฑู OR ุงูุงููู OR ุงูุฒูุงูู OR ุงูุญุงุฑุณ OR ุงููุงุนุจ OR ุงููุฏุฑุจ OR ุฌูู OR ุงูุญูู OR ุฌูู OR ูุฏู OR ุชุณูู OR ุฏูุงุน OR ูุฌูู OR ููุงุฌู) lang:ar -filter:links -filter:replies'
limit=10000
tweets=[]

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.content])
    


df_EgyptionLeague_fake2=pd.DataFrame(tweets,columns=['tweet'])
df_EgyptionLeague_fake2

                                                  tweet
0     ูุจุงุฑุงุฉ ุงูููุงู ูุตู ููุฑุชูู ุจุฃุบููุฉ ุงูููู ุตุฏููู ูุง...
1                             ุตุจุงุงุงุงุงุญ ุบุฑูุจ ุจุณ ุญูู ูููู
2     ูุงููู ูุงุนูุฏู ูุดููู ุจุฑุดูููู ูุญูู ุงูุฏูุฑู ูู ุจูุงุฑ...
3                ูุญูุง ุงูุนุฏู ูุญูุง ุงูุนุฏู \nุชุณูู ูุงุถุญ ูููู
4     ุตุงุฑูุฎ ูุฑูุณุชูุงูู ุนุจุฏ ุงููุชุงุญ ุงุฏู ุงููุตุฑุงูู ูุถูุน ุง...
...                                                 ...
9995  ููููู ูู ุฎุจุฑ ุงููุฏุฑุจ ุทูุจ ูุฐุง ุงููุงุนุจ ุจุณ ุฌุงุจููู ู...
9996  ุงูููุงู ุฑุงุญ ูุฏุนุณ ุนูู ููุฆุฉ ุงูุฑูุงุถุฉ ุจูุงูููุง ูุงู ุง...
9997  ุนู ุงูุจูุช ุฅูู ุจุชุตูู โค\nูุจุชุดุฌุน ุงูุฃููู ๐\nูุจุชูุจุณ ...
9998  ุงููุฎุชูุท ุจุนุฏ ูุฒููู ุงูุฃููู ุจููุนุจ ุงูุขู ูุน ุงูุฅูุชุงุฌ...
9999  ุฃุณูู ุฑุจ ุฑุจุฑุงูู ูููู #ูุงูุดุณุชุฑ_ุณูุชู #ุบุฑุฏ_ููุณูุชู\...

[10000 rows x 1 columns]

In [16]:
len(tweets)

10000

In [19]:
df_EgyptionLeague_fake2.to_csv("twitter_fake2.csv",index=True)

# Treu Data

In [38]:
query='(from:EFA) lang:ar -filter:links -filter:replies'
limit=5000
tweets=[]

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.content])
    
df_EgyptionLeague_true1=pd.DataFrame(tweets,columns=['tweet'])
df_EgyptionLeague_true1

C:\Users\hp\AppData\Local\Temp/ipykernel_1740/3116901453.py:11: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.content])

                                                 tweet
0    ๐ด ุฃุณุนุงุฑ ุชุฐุงูุฑ ุฃูู ุงูุฑูููุง ููุดุจุงุจ ๐ช๐ฌ๐ \nุญุฏุฏ ุงูุง...
1    ๐ด  |  ููุงุฏ ุชุฐุงูุฑ ูุฏูุฉ ููุชุฎุจ ูุตุฑ ูููุฑูุง ุงูุฌููุจู...
2    ๐ด  |  ุฌูุงู ุนูุงู ู ุฃุจู ุงูููุง  ูุฏุนูุงู ููุชุฎุจ ุงูุดุง...
3    ุจุณุจุจ ุฃุญุฏุงุซ ุงูุณูุบุงู ..ูุตุฑ ุชุณุชุถูู ูุคุชูุฑุง  ุนุงูููุง...
4    ๐ด ๐ธ  |  ุงุชุญุงุฏ ุงููุฑุฉ ูููู ุญูู ุงูุฅูุทุงุฑ ุงูุณููู โฆ....
..                                                 ...
760  ุงุฏุช ุจุนุซุฉ ุงูููุชุฎุจ ุงููุทูู ูู ุจูุฑุช ุฌูุชู ุธูุฑ ุงูููู...
761  ุงูุชูุงุก ุงูุดูุท ุงูุงูู ุจุงูุชุนุงุฏู ุงูุณูุจู ุจูู ููุชุฎุจ ุง...
762  ุงูุฐุงุฑ ููุงุนุจ ุนูู ูุนููู ูุชุญุฑูุฉ ุงุซูุงุก ุชูููุฐ ุถุฑุจุฉ ...
763  ุงูุขู .. ุจุนุฏ ุงูุชูุงุก ูุญุงุถุฑุฉ ุงูููุฏูู ูุงุณุชุนุฏุงุฏ ุงูู...
764  ุงุฌูุงุก ูุนุณูุฑ ุงูููุชุฎุจ ุงููุทูู ูู ุจูุฑุช ุฌูุชูู ุตุจุงุญ ...

[765 rows x 1 columns]

In [47]:
query='(#ุฃุฎุจุงุฑ_ONTime) (from:ONTimeSports)'
limit=10000
tweets=[]

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.content])
    
df_EgyptionLeague_true0=pd.DataFrame(tweets,columns=['tweet'])
df_EgyptionLeague_true0

C:\Users\hp\AppData\Local\Temp/ipykernel_1740/2309968144.py:11: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.content])

                                                  tweet
0     ุจุงุชุดููู: ุจูุฑุงููุฏุฒ ุฎุณุฑ ูู ุงูุฌูุด ุงููููู ุจุฎุทุฃ ุณุงุฐ...
1     "ุณุงูู ููุตุงู ูููุฏ ุชุฏุฑูุจุงุช ุงูุฃููู ูุญูู ุนูุฏุฉ ูููุฑ...
2     "ุงูุฒูุงูู ูุชูุงุตู ูุน ุงูุฅูุฑููู ุงูุชููุณู ูุฅููุงุก ุฃุฒู...
3     ูุจุงุฑูุงุช ุงูููู ูู ุจุทููุฉ ูุฃุณ ุงูุฑุงุจุทุฉ๐\n#ุฃุฎุจุงุฑ_ON...
4     ูููุงูู ูุณูุญ ููุณุงุฆู ุงูุฅุนูุงู๐บ๐บ ุจุญุถูุฑ ุชุฏุฑูุจ ุงูููุช...
...                                                 ...
3179  ุดููุง ุตุงุจุฑ ุชูุดู ุนู ุฑุณุงูุฉ ุดุฏูุฏุฉ ุงูููุฌุฉ ูู ุงููุณุคู...
3180  ุญุตุฑูุงุงุงุง.. ุดููุง ุตุงุจุฑ ุชูุดู ููุงููุณ ุฌูุณุฉ ููุณููุงูู...
3181  ุชุนุฏููุงุช ูู ุฎุทุฉ ุงูุฃููู ูุชุดูููู ูู ููุงุก ุงูุบุฏ ุฃูุง...
3182  ุชุนุฑู ุนูู ููุงุนูุฏ ูุจุงุฑูุงุช ุงูุฌููุฉ ุงูุซุงููุฉ ูู ูุจุงู...
3183  ููุฏูุฉ ุดููุง ูู ุฃูู ุญููุงุช ุจุฑูุงูุฌุฌ #ุฃุฎุจุงุฑ_ONTime ...

[3184 rows x 1 columns]

In [ ]:
#df_EgyptionLeague_true2.to_csv("twitter_true2.csv",index=True)

In [48]:
df_EgyptionLeague_true0

                                                  tweet
0     ุจุงุชุดููู: ุจูุฑุงููุฏุฒ ุฎุณุฑ ูู ุงูุฌูุด ุงููููู ุจุฎุทุฃ ุณุงุฐ...
1     "ุณุงูู ููุตุงู ูููุฏ ุชุฏุฑูุจุงุช ุงูุฃููู ูุญูู ุนูุฏุฉ ูููุฑ...
2     "ุงูุฒูุงูู ูุชูุงุตู ูุน ุงูุฅูุฑููู ุงูุชููุณู ูุฅููุงุก ุฃุฒู...
3     ูุจุงุฑูุงุช ุงูููู ูู ุจุทููุฉ ูุฃุณ ุงูุฑุงุจุทุฉ๐\n#ุฃุฎุจุงุฑ_ON...
4     ูููุงูู ูุณูุญ ููุณุงุฆู ุงูุฅุนูุงู๐บ๐บ ุจุญุถูุฑ ุชุฏุฑูุจ ุงูููุช...
...                                                 ...
3179  ุดููุง ุตุงุจุฑ ุชูุดู ุนู ุฑุณุงูุฉ ุดุฏูุฏุฉ ุงูููุฌุฉ ูู ุงููุณุคู...
3180  ุญุตุฑูุงุงุงุง.. ุดููุง ุตุงุจุฑ ุชูุดู ููุงููุณ ุฌูุณุฉ ููุณููุงูู...
3181  ุชุนุฏููุงุช ูู ุฎุทุฉ ุงูุฃููู ูุชุดูููู ูู ููุงุก ุงูุบุฏ ุฃูุง...
3182  ุชุนุฑู ุนูู ููุงุนูุฏ ูุจุงุฑูุงุช ุงูุฌููุฉ ุงูุซุงููุฉ ูู ูุจุงู...
3183  ููุฏูุฉ ุดููุง ูู ุฃูู ุญููุงุช ุจุฑูุงูุฌุฌ #ุฃุฎุจุงุฑ_ONTime ...

[3184 rows x 1 columns]

In [35]:
query='(from:ShobierOfficial) -filter:links -filter:replies'
limit=2000
tweets=[]

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.content])
    
df_EgyptionLeague_true2=pd.DataFrame(tweets,columns=['tweet'])
df_EgyptionLeague_true2

C:\Users\hp\AppData\Local\Temp/ipykernel_1740/2961259325.py:11: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.content])

                                                  tweet
0     ุงูู ุญูุฏ ุงููู ุนูู ุณูุงูุฉ ุงููุงุจุชู ูุญูุฏ ุนุงูุฑ ุฎุฑุฌ ู...
1     ูุฑู ุชุงููู ูุชุงูุชู ููููุฑ ุฑุงูุถ ุงุตูุง ุงููุดุงุฑูู ูู ู...
2                                  ุงููุง ุงูุฃุนูุงู ุจุงูููุงุช
3     ููุฑุจุง ูุณุชุงูู .. ูุฑูุงู ูุณุชุญู.. ููููุฑ ุฑุงูุถ ุงููุดุง...
4                    ุงูู ูุจุฑูู ูููุฑุจุง ุงูุนูุฏู ูููุชุฎุจ ูุตุฑ
...                                                 ...
1995  ุงูู ุตููุงุช ุงูุดุชุงุก ูู ุงูุงููู ูุงุนุจ ุตุงุนุฏ ุงูู ุงูุฌูู...
1996  ูุงููุง ุจููุง ุชููุนุงุชูู ููุชูุฌุฉ ูุจุงุฑุงุฉ ุงูุงููู ููุงุฏู...
1997  ูู ุณูู ูุงูุชู ุทูุจูู ูุงูุณูู ุงูุฌุงูู ุงุญูู ูุงุฌูู ุนู...
1998  ููุฑููุง ูุถุฑุจ ุงูุงููู ูู ุฌุฏูุฏ ูุญูุฏ ูุงูู ..ุงูุฑู ุชู...
1999  ุงู ุดุงุก ุงููู ูู ุงููุงุฆุฒูู  ูู ูุณุงุจูุฉ ุงูุชููุนุงุช ูู...

[2000 rows x 1 columns]

In [36]:
query='(from:seifzahersocial) -filter:links -filter:replies'
limit=2000
tweets=[]

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.content])
    
df_EgyptionLeague_true3=pd.DataFrame(tweets,columns=['tweet'])
df_EgyptionLeague_true3

C:\Users\hp\AppData\Local\Temp/ipykernel_1740/3528185942.py:11: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.content])

                                                  tweet
0      ูุชุญู ุณูุฏ : ุณุจุงู ุงูุฏูุฑู ุณูุญุณู ูุจูุฑูุง ูุตุงูุญ ุงูุฃููู
1     ูููู ุฃุญูุฏ ุจูุญุงุฌ: ููุฌุฆุช ุจุงูุชุดุงุฑ ุฎุทุงุจู ูุงุชุญุงุฏ ุงู...
2     ุฃุญูุฏ ุฏูุงุจ: ุงูุณูุดูุงู ููุฏูุง ุฃุซุฑุช ุนูู ูุฑุงุฑุงุช ุงูุชุญููู
3     ุฃุญูุฏ ุฏูุงุจ: ุงูุชุญููู ูู ููู ุงูุฃูุถู ูู ุนูุฏ ููุงุชูุจ...
4     ุฃุญูุฏ ุฏูุงุจ: ุดูุงูู ุงูุฃูุฏูู ุณุจุจ ุงุฌุชูุงุนูุง ูุน ูุฌูุฉ ...
...                                                 ...
1995  ูุฑูู ูุคุงุฏ ูุงุนุจ ุฅูุจู ูููุชุฎุจ ูุตุฑ ุงูุฃูููุจู ูู ูุฏุง...
1996  ุงูุชูู ุนูุฏ ุฏูุฑ ุงูุซูุงููุฉ ูุฏูุฑู ุฃุจุทุงู ุฃูุฑูุจุง .. \...
1997  ุจุทู ุงููุงุฑุฉ ูุตูู ู ูุฌูู ูู ุงูุฃุฏุบุงูุ ูุฏู ูุจุงุฑุงุฉ ...
1998  ุนูุฑู ุงูุฏุฑุฏูุฑ: ูุงุฑุชูุฑูู ูุฏุฑุจ ุงุณุทูุฑู ูู ุงููุจุงุฑูุง...
1999  ุนูุงุก ุนุฒุช : ููุณููุงูู ูุฏ ูุณุชูุฑ ูุน ุงูุฃููู ูููุงูุฉ ...

[2000 rows x 1 columns]

In [37]:
query='(from:MedhatShalaby9) -filter:links -filter:replies'
limit=2000
tweets=[]

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets)==limit:
        break
    else:
        tweets.append([tweet.content])
    
df_EgyptionLeague_true4=pd.DataFrame(tweets,columns=['tweet'])
df_EgyptionLeague_true4

C:\Users\hp\AppData\Local\Temp/ipykernel_1740/1318130473.py:11: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.content])

                                                  tweet
0     ุณุคุงู ุงูุญููุฉ .. ุฑุชุจ ุงููุฑู ุงูุซูุงุซู ุงูุฃููู ูู ููุง...
1     ุณุคุงู ุงูุญููุฉ .. ุฃุฎุชุงุฑ ุงููุฏู ุงูุงูุถู ูู ุฃูุฏุงู ุงูุง...
2     ุณุคุงู ุงูุญููุฉ .. ูู ูุฌูุฉ ูุธุฑู  ูู ุณูุญุณู ููุจ ุงูุฏู...
3     ุณุคุงู ุงูุญููุฉ .. ุฃุฎุชุงุฑ ุงูุงูุถู ูู ุงูุงูุฏุงู \nุฃุญูุฏ ...
4     ุชุดูููุฉ ุงูุงููู\nุงูุดูุงูู \nูุชุญู \nุงููู \nูุงุณุฑ\nู...
...                                                 ...
1995  ูุฌูุณ ุงูุงุชุญุงุฏ ูุตุฑู4000 ุฌููู ููุงูุฃุฉ ุงูููุฒ ุนูู ุงู...
1996  ุงูุฃููู ูุคูุฏ ุบูุงุจ ุตุงูุญ ุฌูุนุฉ ุนู ููุงุก ุฑููุฑูุงุชููู ...
1997  ุงูุฒูุงูู: ูุง ุตุญุฉ ูุฑูุถ ุญููุฏู ุชุฎููุถ ูููุฉ ุนูุฏู ููุง...
1998  ุงูุฃููู ูุคูุฏ ููุงููุฉ ุงูุฃูู ุนูู ุญุถูุฑ200ูู ุฃุนุถุงุก ุง...
1999  ูููุฑุจูู  ูุชุนุงุฏู ูุน ูุงูุดุณุชุฑ ูููุงูุชุฏ 1-1ููุชุฃูู ู...

[2000 rows x 1 columns]

In [49]:
true_df=pd.concat([df_EgyptionLeague_true0,df_EgyptionLeague_true1,df_EgyptionLeague_true2,df_EgyptionLeague_true3,df_EgyptionLeague_true4],ignore_index=True)

In [50]:
true_df=true_df.sample(frac=1).reset_index(drop=True)

In [51]:
true_df.shape

(9949, 1)

In [52]:
true_df.to_csv("twitter_true.csv",index=True)